@import "tailwindcss";

:root{
  --background:#FDFBF7;

}

@theme {
  --font-inter: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-playfair: var(--font-playfair), ui-serif, Georgia, serif;
  
  --color-body:#FDFBF7;
  --color-card:#F7F1E9;
  --color-border:#E5DED5;
  --color-heading: #1A1612;
  --color-body-text: #4A443F;
  --color-muted-text: #8C847C;/* For "Price before discount" or footer sub-links. */
  --color-primary-btn: #B33F30; /* Main Buttons, "Add to Cart," and active links. */
  --color-accent: #D9A05B; /* Stars, "Best Seller" badges, or small icon highlights. */
  --color-Secondary-Muted: #5B6D5B;/* Use very sparingly for "In Stock" or "New" labels. */

}

@layer base{
  h1,h2,h3,h4{
    @apply font-playfair 
  } 

  body{
    background-color: #FDFBF7;
    /* background-color: #FFF8F4; */
    @apply font-inter
  }
}